body > .ember-view {
  height: 100%;
  max-width: 500px !important;
  margin-right: auto;
  margin-left: auto;
  background: #f5f3f3;
  /* position: fixed; */
}
.div{
  width: 90%;
  max-width: 340px !important;
  margin: 10vh auto;
}