click==6.7
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.4
psycopg2==2.7.5
pytz==2018.5
SQLAlchemy==1.2.11
webargs==4.0.0
Werkzeug==0.14.1
