@font-face {
  font-family: 'FontAwesome';
  src:  url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src:  url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
        url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
        url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html    
    height 100%

body 
    height 100%
    font-size: 16px
    font-family: Roboto
    color: textos
    margin: 0 auto
    overflow-x: hidden





.dr-contenido
    background-image: url("../images/fondo.png")
    background-repeat: no-repeat
    background-size: cover
    height 100%
    padding-top: 50%


    .titulo, form
        margin: 0 30px

    form
        margin: 40px 30px
        .input-group
            border-bottom:  1px solid lightgray

            .input-group-text
                background-color: transparent 
                border none
                color: black

            .form-control
                background-color: transparent 
                border none 
                font-size: 12px

        .dr-olvido
            color: rosa
            font-size: 12px
            text-align: right 
            padding: 0
            display block

        .dr-enviar
            display block
            position relative
            display block
            width: 100%;
            color: white
            font-size: 20px
            text-align: center

            img 
                width 70%
                

            .btn-ingresar
                position: absolute;
                z-index: 9;
                text-align: center;
                display: block;
                top: 50%;
                width: 100%;
                padding-left: 50px

        .dr-loginface
            text-align: center
            margin-top: 20px
            p
                font-size: 12px

            .btn-face
                background-color: white
                border: 1px solid violeta 
                border-radius: 30px
                padding: 15px 16px
                display block
                width 80%
                margin: auto


                img 
                    width 40%
                    margin-top: -6px

                    
.dr-contenido2, .dr-contenido3
    background-color: #eeeeee
    height 100%

    .navbar
        justify-content flex-start

    .bg-white
        background-color: white
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)


    .logo
        background-image: url("../images/logo.png")
        background-size: 100%
        display block
        width: 50%
        height: 22px;
        background-repeat: no-repeat


    .detalles
        margin-left: 20px
        font-weight: 700

    .dr-search
        color: black
        margin-top: 10px

    .dr-menu, .dr-atras
        color: black
        margin-top: 0px

    .dr-atras
        i
            font-size: 40px

    
    .dr-dash
        padding-top: 50px

        ul
            column-gap: 10px;
            column-width: 150px;
            counter-reset: item;
            list-style: none;
            margin: 1em auto;
            max-width: 700px;
            padding: 10px;
            width: 100%;
        
            li
                align-items: stretch;
                box-sizing: border-box;
                column-break-inside: avoid;
                counter-increment: item;
                display: flex;
                justify-content: center;
                padding-bottom: 10px;

.dr-contenido3
    background-color: #d5dfe1
    padding-top: 80px
    
    .dr-dashcliente
        .header
            background-color: white
            border-radius: 10px
            padding: 10px

            .nombre
                h4
                    font-weight: 700
                    margin: 0
                    padding: 0
                    font-size: 17px
                
                h5
                    font-weight: 300
                    margin: 0
                    padding: 0
                    font-size: 14px               
                
                p
                    font-weight: 700
                    margin: 10px 0 0 0 
                    padding: 0 
                    font-size: 10px
                    color: #6e8b63     

                .progress-bar
                    background-color: rosa 

            .dr-fondopersona2
                background-image: url("../images/fondopersona2.png")
                background-size: 100%
                background-repeat: no-repeat
                width 100%
                height 140px
                text-align: center 

                img 
                    width 70%
                    margin-top: 20px     


        .dr-categoria
            margin-top: 30px

            h4
                font-size: 20px 
                font-weight: 700
            .btn
                width: 100%
                padding: 12px 15px
                border-radius: 50px
                color: white

            .btn-fragancias
                background-color: #69e2db

            .btn-maquilla
                background-color: #e269c4

        .dr-tabs
            margin-top: 30px

            h4
                font-size: 20px 
                font-weight: 700                
                                
            .nav-tabs
                border-bottom: 1px solid gray
                padding: 0
                margin: 0
                li
                    text-transform: uppercase
                    margin: 0 10px
                    padding: 5px 0px
                    border-bottom: none
                    
                    a
                        color: gray
                        font-size: 14px
                        font-weight: 700
                        text-decoration: none
                        padding: 5px 0px
                        margin: 0

                .active
                    border-bottom: 2px solid rojo
                    a
                        color: rojo

            .tab-content
                .item
                    background-color: white
                    padding: 20px 10px
                    border-radius: 10px
                    margin: 10px 0

                    p
                        color: rojo
                        font-weight: 700
                        margin: 0
                        padding: 0

                    span 
                        font-weight: 700




.dr-searchmodal
    background-color: rgba(0, 0, 0, 0.6 )

    .modal-dialog
        height 95%

        .modal-content
            background-color: transparent
            border: none
            height 95%

            .modal-header, .modal-footer
                border: none
                

            .close
                color: white


            .modal-body
                h4
                    color: white
                    font-size: 14px
                    border-bottom: 1px solid rgba(255, 255, 255, 0.6 )
                    padding-bottom: 10px
                    font-weight: 700

                h5
                    font-size: 14px
                    color: white
                    margin-bottom: 20px
                    font-weight: 300


                .material-switch > input[type="checkbox"] {
                    display: none;   
                }

                .material-switch > label {
                    cursor: pointer;
                    height: 0px;
                    position: relative; 
                    width: 30px;  
                }

                .material-switch > label::before {
                    background: #c1c1c1;
                    border-radius: 8px;
                    content: '';
                    height: 16px;
                    margin-top: -8px;
                    position:absolute;
                    opacity: 0.6;
                    transition: all 0.4s ease-in-out;
                    width: 40px;
                }
                .material-switch > label::after {
                    background: #c1c1c1;
                    border-radius: 16px;
                    content: '';
                    height: 24px;
                    left: -4px;
                    margin-top: -8px;
                    position: absolute;
                    top: -4px;
                    transition: all 0.3s ease-in-out;
                    width: 24px;
                }
                .material-switch > input[type="checkbox"]:checked + label::before {
                    background: #e70087
                    opacity:0.6;
                }
                .material-switch > input[type="checkbox"]:checked + label::after {
                    background: #e70087;
                    left: 20px;
                }



.dr-menumodal
    background-color: #efefef

    .modal-dialog
        height 95%
        padding: 0
        margin: 0

        .modal-content
            background-color: transparent
            border: none
            height 95%

            .modal-header, .modal-footer
                border: none
                

            .close
                color: white
                float left !important

            .modal-header
                position absolute
                z-index 3

            .modal-body
                padding: 0

                .red 
                    color: rojo
                .header
                    background-color: white
                    padding: 15px
                    background-image: url("../images/labial.png")
                    background-position: 111%;
                    background-repeat: no-repeat
                    background-size: 20%

                    .dr-persodetal
                        border-top 1px solid lightgray
                        margin-top: 10px
                        text-align: center

                        div.col-4
                            border-right: 1px solid lightgray

                    .dr-fondopersona
                        background-image: url("../images/fondopersona.png")
                        background-size: 100%
                        background-repeat: no-repeat
                        width 100%
                        height 122px
                        text-align: center

                        img 
                            width 50%
                            margin-top: 20px


                    .dr-nombreuser
                        h4
                            font-weight: 700
                            margin: 0
                            padding: 0
                            font-size: 20px
                        h5
                            font-weight: 400
                            margin: 0
                            padding: 0   
                            font-size: 15px                         
                        
                        p
                            font-weight: 300
                            margin: 0
                            padding: 0 
                            font-size: 12px

                    .dr-persodetal
                        p, span 
                            margin: 0
                            padding: 0      


                        p 
                            font-size: 10px
                            font-weight: 300
                            margin-top: 6px

                        span 
                            font-size: 30px
                            font-weight: 700

                .detalles
                    padding: 0 10px
                    margin: 20px 0

                    .dr-items
                        background-color: white
                        border-radius: 20px
                        padding: 20px 10px
                        margin: 8px 0
                        display block
                        color: black

                        &:hover
                            text-decoration: none
                        

                        h5
                            margin: 0
                            padding: 0
                            font-weight: 700
                            font-size: 14px

                        .valor
                            font-weight: 700
                            font-size: 20px
                        
                        i
                            text-align: right 
                            margin-top: 10px

                        .valoritem, .valoritem2
                            background-color: rojo 
                            width 50px
                            font-size: 25px
                            height 50px
                            text-align: center
                            display flex
                            font-weight: 700
                            align-items: center
                            align-content: center
                            justify-content: center
                            border-radius: 50%
                            color: white

                        .valoritem2
                            background-color: rosa
                    
                    .dr-porcentajes
                        margin-top: 20px
                        .porct
                            background-color: white
                            border-radius: 20px
                            padding: 15px 10px 
                            text-align: center

                            h5
                                margin: 0
                                padding: 0
                                font-weight: 700
                                font-size: 18px

                            p 
                                font-weight: 300
                                font-size: 14px
                        

                            