body {
  margin: 12px 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

table{
	width:100%
}
th{
	text-align:left;
}

nav a.active{
	font-weight:bold;
}

a{
color:#0074D9;
  text-decoration:none;
}

a:hover{
color:#001f3f;
}