{{#if show_nav}}
<nav>nav:
    {{#if session.isAuthenticated}}
        <a {{action 'invalidateSession'}}>Logout</a>
    {{/if}}
    {{#link-to "seller"}}Mi perfil{{/link-to}} |
    {{#link-to "orders"}}Ordenes{{/link-to}} |
    {{#link-to "clients"}}Mis clientes{{/link-to}} |
    {{#link-to "products"}}Productos{{/link-to}}|
    {{#link-to "tasks"}}Mis Tareas{{/link-to}}|
    {{#link-to "contents"}}Contenido{{/link-to}}

</nav>
{{/if}}

{{outlet}}