<h1>{{model.name}}</h1>
<img src={{model.imageUrl}}>

<br>

* Intro Text

<br>

* Share Social Media
<iframe src="https://www.facebook.com/plugins/share_button.php?href={{encodeURIComponentHelper model.imageUrl}}&layout=button&size=large&mobile_iframe=true&appId=313787846053184&width=99&height=28" width="99" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>