<section class="dr-contenido2">
	<nav class="navbar navbar-light bg-white fixed-top">
        {{#link-to 'seller' class="dr-atras"}}<i class="material-icons">arrow_back</i>{{/link-to}}
        <a class="navbar-brand detalles">Mi Contenido</a>
    </nav>
    <article class="dr-dash">
        <div class="container">
            <ul>
                {{#each segmentedContent as |content|}}
                    <li>
                        {{#link-to "content" content.id}}
                            <img class="img-fluid" src="{{content.thumbnailUrl}}" alt="">
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </article>
</section>