{{#if isError}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{isError}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<section class="dr-contenido align-items-center">
  <article class="titulo">
    <img class="img-fluid" src="assets/images/descubre.png" alt="">
  </article>
  <form>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">phonelink_ring</i></span>
      </div>
      {{input type="number" class="form-control" value=cellphone required=true placeholder="Ingresa tu número celular" min="3000000000" max="3999999999"}}
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock</i></span>
      </div>
      {{input type="password" class="form-control" value=password required=true placeholder="Digita la contraseña" aria-label="Username" aria-describedby="basic-addon1"}}
    </div>
    <a href="" class="dr-olvido">¿Olvidó su contraseña?</a>
    <div class="col-auto">
      <a class="dr-enviar" {{action 'authenticate'}}>
        <img class="img-fluid" src="assets/images/btningresar.png" alt="">
        <div class="btn-ingresar">
          Ingresar
        </div>
      </a>
    </div>
    {{!-- <div class="dr-loginface">
      <p>O puedes ingresar con tus datos de:</p>
      <a href="" class="btn-face"><img src="assets/images/facebook.png" alt=""></a>
    </div> --}}
  </form>
</section>
