num items {{model.length}}

<table >
	<tr>
  	<th>img</th>
  	<th>name</th>
    <th>price</th>
  </tr>
{{#each model as |product|}}
	<tr>
  	<td><img src={{product.image}} height="50" width="50"></td>
		<td>
      {{#link-to "product" product.id}}
        {{product.name}}
      {{/link-to}}
		</td>
    <td>${{product.price}}</td>
    
	</tr>
{{/each}}
</table>