<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    {{input type="text" class="form-control" value=first_name}}
    
    <label for="formGroupExampleInput">Apellido</label>
    {{input type="text" class="form-control" value=last_name}}

    <label for="formGroupExampleInput">Example label</label>
    {{input type="number" class="form-control" value=cellphone}}
  </div>
</form>

<button {{action 'save'}}>Enviar</button>