<section class="dr-contenido3">

    <article class="dr-dashclientedeta">
            <div class="container">
                <div class="dr-quiz">
                    <img class="img-fluid" src="{{model.thumbnailUrl}}" alt="">
                </div>
                <div class="dr-share">
                    <p>
                        Este contenido deberias enviarlo a:
                    </p>
                    <a class="drbtn drbt1" href="">Luisa Maria</a>
                    <a class="drbtn drbt2" href="">Luisa Maria</a>
                    <a class="drbtn drbt3" href="">Luisa Maria</a>
                    <a class="drbtn drbt4" href="">Luisa Maria</a>
                    <p>
                        Esto le encantaria a tus clientes:
                    </p>

                    <button class="dr-comparbtn" onclick="share()">Compartir</button>

                </div>
            </div>
    </article>

</section>

<script>
    function share() {
        if (!("share" in navigator)) {
            alert('Web Share API not supported.');
            return;
        }

        navigator.share({
            title: 'Descubre tu belleza',
            text: 'Mira este contenido ',
            url: model.url
            })
            .then(() => console.log('Successful share'))
            .catch(error => console.log('Error sharing:', error));
    }
</script>