<style>
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  text-align: center;
}
.dr-comparbtn {
  width: 100%;
  padding: 20px 20px;
  font-size: 18px;
  background-color: #b7237e;
  border-radius: 50px;
  margin: 5px 0;
  display: block;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
.form-control {
  color: #93306b; 
  font-size: x-large; 
  font-weight: bolder;
  text-align: center; 
  background: #fff !important;
}

</style>

<section class="vertical-center">
    <nav class="navbar navbar-light fixed-top" style="background: transparent; max-width: 500px; margin-right: auto; margin-left: auto;">
        <a class="dr-atras" onclick="goBack()"><i class="material-icons">arrow_back</i></a>
        <a data-toggle="modal" data-target="#myModal"><i class="material-icons" style="color: #b7237e">info_outline</i></a>
    </nav>

  <div class="container">
      <img class="img-fluid" src="{{rootURL}}assets/images/descubre amigas.png">
      
      <div class="container">
        
        <div class="input-group">
          <input class="form-control" id="seller_code" value="{{session.data.authenticated.seller.code}}" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="copyText()">Copiar</button>
          </div>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                    <ul style="text-align: justify">
                    <li>El premio de referidos aplica no cuando se registra, sino cuando tú referido haga su primera venta en la web de Descubre</li>
                    <li>En este caso te regalamos 20 mil en efectivo que van a aparecer en la aplicación en la parte “Ganancias por referidos”</li>
                    <li>Solo aplica para referidas en la ciudad de Bogotá</li>
                    <li>La idea es que expliques como funciona Descubre a tu referido</li>
                    <li>Si tú o tu referido tienen preguntas, nos pueden escribir o llamar al 305 350 6867</li>
                    </ul>
                  </div>
              </div>
          </div>
        </div>

      </div>
      
      <small>Tu código</small>
      <br><br>
      <button class="dr-comparbtn" onclick={{action 'share'}}>Compartir</button>
  </div>
</section>

<script>
  function copyText() {
  var copyText = $("#seller_code");
  copyText.select();
  document.execCommand("copy");  
  mixpanel.track('copy code from referral');
  //alert("Copied the text: " + copyText.text());
}
</script>