<style>
    .landing {
        background-repeat: no-repeat;
        background-position-x: left;
        background-size: cover;
        overflow: "hidden";
        height: 100%;
        display: flex;
    }
    .container {
        padding-right: 35px;
        padding-left: 35px;
        height: 75vh !important;
        vertical-align:middle;
        width:100%;
        align-items: center;
    }
    .button-container {
        padding-right: 35px;
        padding-left: 35px;
    }
    p.lead {
        padding-top: 10vh;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bolder;
        padding-bottom: 20px;
    }
</style>

<section class="landing">
   {{!-- Screen info --}}
    <div class="container">
        
        <p class="lead" style="padding-bottom:10px;">Gracias por regístrarte! Te llamaremos pronto con más información</p>
        
        <img class="img-fluid" src="{{rootURL}}assets/images/landing_woman.png">

        <div class="button-container" style="padding-top: 35px;">
            <button class="btn btn-primary btn-block" 
            onclick="{{action 'share' []}}" 
            style="background-color:#2196f3; border-color:#2196f3;">
                ¡Cuéntale a todos!
            </button>
        </div>

    </div>  
</section>


